 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>O Nás</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Wasteno vznikla ako nezisková organizácia, ktorá rieši problém plytvania jedlom v slovenských supermarketoch. Vznikli sme 9. decembra 2016 počas 7. StartUp Weekendu v Bratislave s myšlienkou, že celosvetovo sa zlikviduje ⅓ vyprodukovaného jedla, čo nás veľmi trápi. Preto sme sa rozhodli vymyslieť spoločnosť, ktorá pomôže zredukovať množstvo vyhodeného jedla na Slovensku.</p>
                </div>
                <div class="col-lg-4">
                    <p>Rozhodli sme sa riešiť tento problém pre slovenské supermarkety, keďže sa v nich produkuje jedna z najväčších strát na jedle. Našou misiou je predísť znehodnoteniu tohto jedla tým, že chceme poskytnúť doručenie tohto jedla to sociálnych zariadení, ktoré ho dokážu použiť pred dátum spotreby. Namiesto likvidácie tohto jedla dokážeme poskytnúť efektívne spojenie a doručenie jedla, ktoré supermarkety nedokážu predať a sociálnych zariadení, ktoré ho potrebujú za lepšiu cenu.
</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Daruj!
                    </a>
                </div>
            </div>
        </div>
    </section>
